

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a href="/" class="simple-text logo-mini">
            IA
          </a>
          <a href="/" class="simple-text logo-normal">
            Investment Insights
          </a>
        </div>

        <ul class="nav">
          <li class="{% if 'index' in segment or segment == 'home' %} active {% endif %} ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Relative Value</p>
            </a>
          </li>
          <li class="{% if 'coffee-can' in segment %} active {% endif %} ">
            <a href="/coffee-can.html">
              <i class="tim-icons icon-gift-2"></i>
              <p>Coffee-Can</p>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
